@charset "UTF-8";

/*
	lucid CSS Framework
	Version: 0.3.0
	Date: 2019-01-24
	Author: temoffey <temofffey@gmail.com>
	File: fonts.css
*/

/* fontello */

/*
	font created on the site http://fontello.com/
	codes selected on the site https://unicode-table.com/ru/
*/

@font-face {
	font-family: fontello;
	src: url('../fonts/fontello/fontello.woff') format('woff');
}

.prev, .next, .caret,
.map, .phone, .search,
.ok, .email, .mail, .menu, .cancel, .rub,
.arrow-up, .arrow-left, .arrow-down, .arrow-right,
.radio, .checkbox { font-family: fontello; }

.prev:before { content: '\3c' } /* '<' */
.next:before { content: '\3e' } /* '>' */
.caret:before { content: '\2228' } /* '∨' */
.caret.active:before { content: '\2227' } /* '∧' */

.map:before { content: '\1f4cd' } /* '📍' */
.phone:before { content: '\1f4de' } /* '📞' */
.search:before { content: '\1f50d' } /* '🔍' */

.ok:before { content: '\2714' } /* '✔' */
.email:before { content: '\40' } /* '@' */
.mail:before { content: '\2709' } /* '✉' */
.menu:before { content: '\2261' } /* '≡' */
.cancel:before { content: '\2716' } /* '✖' */
.rub:before { content: '\20bd'; font-size: 85%; } /* '₽' */

.arrow-up:before { content: '\2191' } /* '↑' */
.arrow-left:before { content: '\2190' } /* '←' */
.arrow-down:before { content: '\2193' } /* '↓' */
.arrow-right:before { content: '\2192' } /* '→' */

.radio:before { content: '\26aa' } /* '⚪' */
.radio.active:before { content: '\26ab' } /* '⚫' */
.radio.checked:before { content: '\1f518' } /* '🔘' */
:checked + .radio:before { content: '\1f518' } /* '🔘' */
:checked + * .radio:before { content: '\1f518' } /* '🔘' */

.checkbox:before { content: '\2610' } /* '☐' */
.checkbox.checked:before { content: '\2611' } /* '☑' */
:checked + .checkbox:before { content: '\2611' } /* '☑' */
:checked + * .checkbox:before { content: '\2611' } /* '☑' */

.vk:before { content: '\f189'; } /* '' */
.yandex:before { content: '\f305'; } /* '' */
.google:before { content: '\f1a0'; } /* '' */
.twitch:before { content: '\f1e8'; } /* '' */
.tumblr:before { content: '\f173'; } /* '' */
.youtube:before { content: '\f16a'; } /* '' */
.twitter:before { content: '\f099'; } /* '' */
.facebook:before { content: '\f09a'; } /* '' */
.linkedin:before { content: '\f0e1'; } /* '' */
.instagram:before { content: '\f16d'; } /* '' */
.pinterest:before { content: '\f231'; } /* '' */


/* Futura PT */
/* font get from site https://webfonts.pro/base-web-fonts/sans-serif-grotesque/896-futura-pt.html */

@font-face {
	font-weight: 300;
	font-family: 'Futura PT';
	src: url('../fonts/futura-pt/FuturaPT-Light.woff') format('woff');
}

@font-face {
	font-style: italic;
	font-weight: 300;
	font-family: 'Futura PT';
	src: url('../fonts/futura-pt/FuturaPT-LightObl.woff') format('woff');
}

@font-face {
	font-family: 'Futura PT';
	src: url('../fonts/futura-pt/FuturaPT-Book.woff') format('woff');
}

@font-face {
	font-style: italic;
	font-family: 'Futura PT';
	src: url('../fonts/futura-pt/FuturaPT-BookObl.woff') format('woff');
}

@font-face {
	font-stretch: condensed;
	font-family: 'Futura PT';
	src: url('../fonts/futura-pt/FuturaPTCond-Book.woff') format('woff');
}

@font-face {
	font-style: italic;
	font-stretch: condensed;
	font-family: 'Futura PT';
	src: url('../fonts/futura-pt/FuturaPTCond-BookObl.woff') format('woff');
}

@font-face {
	font-weight: 500;
	font-family: 'Futura PT';
	src: url('../fonts/futura-pt/FuturaPT-Medium.woff') format('woff');
}

@font-face {
	font-style: italic;
	font-weight: 500;
	font-family: 'Futura PT';
	src: url('../fonts/futura-pt/FuturaPT-MediumObl.woff') format('woff');
}

@font-face {
	font-weight: 500;
	font-stretch: condensed;
	font-family: 'Futura PT';
	src: url('../fonts/futura-pt/FuturaPTCond-Medium.woff') format('woff');
}

@font-face {
	font-style: italic;
	font-weight: 500;
	font-stretch: condensed;
	font-family: 'Futura PT';
	src: url('../fonts/futura-pt/FuturaPTCond-MediumObl.woff') format('woff');
}

@font-face {
	font-weight: 600;
	font-family: 'Futura PT';
	src: url('../fonts/futura-pt/FuturaPT-Demi.woff') format('woff');
}

@font-face {
	font-style: italic;
	font-weight: 600;
	font-family: 'Futura PT';
	src: url('../fonts/futura-pt/FuturaPT-DemiObl.woff') format('woff');
}

@font-face {
	font-weight: bold;
	font-family: 'Futura PT';
	src: url('../fonts/futura-pt/FuturaPT-Bold.woff') format('woff');
}

@font-face {
	font-weight: bold;
	font-style: italic;
	font-family: 'Futura PT';
	src: url('../fonts/futura-pt/FuturaPT-BoldObl.woff') format('woff');
}

@font-face {
	font-weight: bold;
	font-stretch: condensed;
	font-family: 'Futura PT';
	src: url('../fonts/futura-pt/FuturaPTCond-Bold.woff') format('woff');
}

@font-face {
	font-weight: bold;
	font-style: italic;
	font-stretch: condensed;
	font-family: 'Futura PT';
	src: url('../fonts/futura-pt/FuturaPTCond-BoldObl.woff') format('woff');
}

@font-face {
	font-weight: 800;
	font-family: 'Futura PT';
	src: url('../fonts/futura-pt/FuturaPT-ExtraBold.woff') format('woff');
}

@font-face {
	font-style: italic;
	font-weight: 800;
	font-family: 'Futura PT';
	src: url('../fonts/futura-pt/FuturaPT-ExtraBoldObl.woff') format('woff');
}

@font-face {
	font-weight: 800;
	font-stretch: condensed;
	font-family: 'Futura PT';
	src: url('../fonts/futura-pt/FuturaPTCond-ExtraBold.woff') format('woff');
}

@font-face {
	font-style: italic;
	font-weight: 800;
	font-stretch: condensed;
	font-family: 'Futura PT';
	src: url('../fonts/futura-pt/FuturaPTCond-ExtraBoldObl.woff') format('woff');
}

@font-face {
	font-weight: 900;
	font-family: 'Futura PT';
	src: url('../fonts/futura-pt/FuturaPT-Heavy.woff') format('woff');
}

@font-face {
	font-style: italic;
	font-weight: 900;
	font-family: 'Futura PT';
	src: url('../fonts/futura-pt/FuturaPT-HeavyObl.woff') format('woff');
}

.futura-pt { font-family: 'Futura PT', Arial, sans-serif }


/* Helvetica */
/* font get from site https://webfonts.pro/base-web-fonts/sans-serif-grotesque/503-helvetica-neue-cyr.html */

@font-face {
	font-weight: 100;
	font-family: Helvetica;
	src: url('../fonts/helvetica/HelveticaNeueCyr-Thin.woff') format('woff');
}

@font-face {
	font-style: italic;
	font-weight: 100;
	font-family: Helvetica;
	src: url('../fonts/helvetica/HelveticaNeueCyr-ThinItalic.woff') format('woff');
}

@font-face {
	font-weight: 200;
	font-family: Helvetica;
	src: url('../fonts/helvetica/HelveticaNeueCyr-UltraLight.woff') format('woff');
}

@font-face {
	font-style: italic;
	font-weight: 200;
	font-family: Helvetica;
	src: url('../fonts/helvetica/HelveticaNeueCyr-UltraLightItalic.woff') format('woff');
}

@font-face {
	font-weight: 300;
	font-family: Helvetica;
	src: url('../fonts/helvetica/HelveticaNeueCyr-Light.woff') format('woff');
}

@font-face {
	font-style: italic;
	font-weight: 300;
	font-family: Helvetica;
	src: url('../fonts/helvetica/HelveticaNeueCyr-LightItalic.woff') format('woff');
}

@font-face {
	font-family: Helvetica;
	src: url('../fonts/helvetica/HelveticaNeueCyr-Regular.woff') format('woff');
}

@font-face {
	font-style: italic;
	font-family: Helvetica;
	src: url('../fonts/helvetica/HelveticaNeueCyr-Italic.woff') format('woff');
}

@font-face {
	font-weight: 500;
	font-family: Helvetica;
	src: url('../fonts/helvetica/HelveticaNeueCyr-Medium.woff') format('woff');
}

@font-face {
	font-style: italic;
	font-weight: 500;
	font-family: Helvetica;
	src: url('../fonts/helvetica/HelveticaNeueCyr-MediumItalic.woff') format('woff');
}

@font-face {
	font-weight: bold;
	font-family: Helvetica;
	src: url('../fonts/helvetica/HelveticaNeueCyr-Bold.woff') format('woff');
}

@font-face {
	font-style: italic;
	font-weight: bold;
	font-family: Helvetica;
	src: url('../fonts/helvetica/HelveticaNeueCyr-BoldItalic.woff') format('woff');
}

@font-face {
	font-weight: 800;
	font-family: Helvetica;
	src: url('../fonts/helvetica/HelveticaNeueCyr-Heavy.woff') format('woff');
}

@font-face {
	font-style: italic;
	font-weight: 800;
	font-family: Helvetica;
	src: url('../fonts/helvetica/HelveticaNeueCyr-HeavyItalic.woff') format('woff');
}

@font-face {
	font-weight: 900;
	font-family: Helvetica;
	src: url('../fonts/helvetica/HelveticaNeueCyr-Black.woff') format('woff');
}

@font-face {
	font-style: italic;
	font-weight: 900;
	font-family: Helvetica;
	src: url('../fonts/helvetica/HelveticaNeueCyr-BlackItalic.woff') format('woff');
}

.helvetica { font-family: Helvetica, Arial, sans-serif }


/* Lato */
/* font get from site https://webfonts.pro/base-web-fonts/603-lato.html */

@font-face {
	font-weight: 100;
	font-family: Lato;
	src: url('../fonts/lato/Lato-Hairline.woff') format('woff');
}

@font-face {
	font-weight: 100;
	font-style: italic;
	font-family: Lato;
	src: url('../fonts/lato/Lato-HairlineItalic.woff') format('woff');
}

@font-face {
	font-weight: 200;
	font-family: Lato;
	src: url('../fonts/lato/Lato-Thin.woff') format('woff');
}

@font-face {
	font-weight: 200;
	font-style: italic;
	font-family: Lato;
	src: url('../fonts/lato/Lato-ThinItalic.woff') format('woff');
}

@font-face {
	font-weight: 300;
	font-family: Lato;
	src: url('../fonts/lato/Lato-Light.woff') format('woff');
}

@font-face {
	font-weight: 300;
	font-style: italic;
	font-family: Lato;
	src: url('../fonts/lato/Lato-LightItalic.woff') format('woff');
}

@font-face {
	font-family: Lato;
	src: url('../fonts/lato/Lato-Regular.woff') format('woff');
}

@font-face {
	font-style: italic;
	font-family: Lato;
	src: url('../fonts/lato/Lato-Italic.woff') format('woff');
}

@font-face {
	font-weight: 500;
	font-family: Lato;
	src: url('../fonts/lato/Lato-Medium.woff') format('woff');
}

@font-face {
	font-weight: 500;
	font-style: italic;
	font-family: Lato;
	src: url('../fonts/lato/Lato-MediumItalic.woff') format('woff');
}

@font-face {
	font-weight: 600;
	font-family: Lato;
	src: url('../fonts/lato/Lato-Semibold.woff') format('woff');
}

@font-face {
	font-weight: 600;
	font-style: italic;
	font-family: Lato;
	src: url('../fonts/lato/Lato-SemiboldItalic.woff') format('woff');
}

@font-face {
	font-weight: bold;
	font-family: Lato;
	src: url('../fonts/lato/Lato-Bold.woff') format('woff');
}

@font-face {
	font-weight: bold;
	font-style: italic;
	font-family: Lato;
	src: url('../fonts/lato/Lato-BoldItalic.woff') format('woff');
}

@font-face {
	font-weight: 800;
	font-family: Lato;
	src: url('../fonts/lato/Lato-Heavy.woff') format('woff');
}

@font-face {
	font-weight: 800;
	font-style: italic;
	font-family: Lato;
	src: url('../fonts/lato/Lato-HeavyItalic.woff') format('woff');
}

@font-face {
	font-weight: 900;
	font-family: Lato;
	src: url('../fonts/lato/Lato-Black.woff') format('woff');
}

@font-face {
	font-weight: 900;
	font-style: italic;
	font-family: Lato;
	src: url('../fonts/lato/Lato-BlackItalic.woff') format('woff');
}

.lato { font-family: Lato, Arial, sans-serif }


/* Montserrat */
/* font get from site https://webfonts.pro/base-web-fonts/sans-serif-grotesque/604-montserrat.html */

@font-face {
	font-weight: 100;
	font-family: Montserrat;
	src: url('../fonts/montserrat/Montserrat-Thin.woff') format('woff');
}

@font-face {
	font-weight: 100;
	font-style: italic;
	font-family: Montserrat;
	src: url('../fonts/montserrat/Montserrat-ThinItalic.woff') format('woff');
}

@font-face {
	font-weight: 200;
	font-family: Montserrat;
	src: url('../fonts/montserrat/Montserrat-ExtraLight.woff') format('woff');
}

@font-face {
	font-weight: 200;
	font-style: italic;
	font-family: Montserrat;
	src: url('../fonts/montserrat/Montserrat-ExtraLightItalic.woff') format('woff');
}

@font-face {
	font-weight: 300;
	font-family: Montserrat;
	src: url('../fonts/montserrat/Montserrat-Light.woff') format('woff');
}

@font-face {
	font-weight: 300;
	font-style: italic;
	font-family: Montserrat;
	src: url('../fonts/montserrat/Montserrat-LightItalic.woff') format('woff');
}

@font-face {
	font-family: Montserrat;
	src: url('../fonts/montserrat/Montserrat-Regular.woff') format('woff');
}

@font-face {
	font-style: italic;
	font-family: Montserrat;
	src: url('../fonts/montserrat/Montserrat-Italic.woff') format('woff');
}

@font-face {
	font-weight: 500;
	font-family: Montserrat;
	src: url('../fonts/montserrat/Montserrat-Medium.woff') format('woff');
}

@font-face {
	font-weight: 500;
	font-style: italic;
	font-family: Montserrat;
	src: url('../fonts/montserrat/Montserrat-MediumItalic.woff') format('woff');
}

@font-face {
	font-weight: 600;
	font-family: Montserrat;
	src: url('../fonts/montserrat/Montserrat-SemiBold.woff') format('woff');
}

@font-face {
	font-weight: 600;
	font-style: italic;
	font-family: Montserrat;
	src: url('../fonts/montserrat/Montserrat-SemiBoldItalic.woff') format('woff');
}

@font-face {
	font-weight: bold;
	font-family: Montserrat;
	src: url('../fonts/montserrat/Montserrat-Bold.woff') format('woff');
}

@font-face {
	font-weight: bold;
	font-style: italic;
	font-family: Montserrat;
	src: url('../fonts/montserrat/Montserrat-BoldItalic.woff') format('woff');
}

@font-face {
	font-weight: 800;
	font-family: Montserrat;
	src: url('../fonts/montserrat/Montserrat-ExtraBold.woff') format('woff');
}

@font-face {
	font-weight: 800;
	font-style: italic;
	font-family: Montserrat;
	src: url('../fonts/montserrat/Montserrat-ExtraBoldItalic.woff') format('woff');
}

@font-face {
	font-weight: 900;
	font-family: Montserrat;
	src: url('../fonts/montserrat/Montserrat-Black.woff') format('woff');
}

@font-face {
	font-weight: 900;
	font-style: italic;
	font-family: Montserrat;
	src: url('../fonts/montserrat/Montserrat-BlackItalic.woff') format('woff');
}

.montserrat { font-family: Montserrat, Arial, sans-serif }


/* PF Agora Sans Pro */
/* font get from site https://nomail.com.ua/font/Agora */

@font-face {
	font-weight: 100;
	font-family: 'PF Agora Sans Pro';
	src: url('../fonts/pf-agora-sans-pro/PFAgoraSansPro-ExtraThin.woff') format('woff');
}

@font-face {
	font-style: italic;
	font-weight: 100;
	font-family: 'PF Agora Sans Pro';
	src: url('../fonts/pf-agora-sans-pro/PFAgoraSansPro-ExtraThinItalic.woff') format('woff');
}

@font-face {
	font-weight: 200;
	font-family: 'PF Agora Sans Pro';
	src: url('../fonts/pf-agora-sans-pro/PFAgoraSansPro-Thin.woff') format('woff');
}

@font-face {
	font-style: italic;
	font-weight: 200;
	font-family: 'PF Agora Sans Pro';
	src: url('../fonts/pf-agora-sans-pro/PFAgoraSansPro-ThinItalic.woff') format('woff');
}

@font-face {
	font-weight: 300;
	font-family: 'PF Agora Sans Pro';
	src: url('../fonts/pf-agora-sans-pro/PFAgoraSansPro-Light.woff') format('woff');
}

@font-face {
	font-style: italic;
	font-weight: 300;
	font-family: 'PF Agora Sans Pro';
	src: url('../fonts/pf-agora-sans-pro/PFAgoraSansPro-LightItalic.woff') format('woff');
}

@font-face {
	font-family: 'PF Agora Sans Pro';
	src: url('../fonts/pf-agora-sans-pro/PFAgoraSansPro-Regular.woff') format('woff');
}

@font-face {
	font-style: italic;
	font-family: 'PF Agora Sans Pro';
	src: url('../fonts/pf-agora-sans-pro/PFAgoraSansPro-Italic.woff') format('woff');
}

@font-face {
	font-weight: 500;
	font-family: 'PF Agora Sans Pro';
	src: url('../fonts/pf-agora-sans-pro/PFAgoraSansPro-Medium.woff') format('woff');
}

@font-face {
	font-style: italic;
	font-weight: 500;
	font-family: 'PF Agora Sans Pro';
	src: url('../fonts/pf-agora-sans-pro/PFAgoraSansPro-MediumItalic.woff') format('woff');
}

@font-face {
	font-weight: bold;
	font-family: 'PF Agora Sans Pro';
	src: url('../fonts/pf-agora-sans-pro/PFAgoraSansPro-Bold.woff') format('woff');
}

@font-face {
	font-style: italic;
	font-weight: bold;
	font-family: 'PF Agora Sans Pro';
	src: url('../fonts/pf-agora-sans-pro/PFAgoraSansPro-BoldItalic.woff') format('woff');
}

@font-face {
	font-weight: 800;
	font-family: 'PF Agora Sans Pro';
	src: url('../fonts/pf-agora-sans-pro/PFAgoraSansPro-Black.woff') format('woff');
}

@font-face {
	font-style: italic;
	font-weight: 800;
	font-family: 'PF Agora Sans Pro';
	src: url('../fonts/pf-agora-sans-pro/PFAgoraSansPro-BlackItalic.woff') format('woff');
}

@font-face {
	font-weight: 900;
	font-family: 'PF Agora Sans Pro';
	src: url('../fonts/pf-agora-sans-pro/PFAgoraSansPro-UltraBlack.woff') format('woff');
}

@font-face {
	font-style: italic;
	font-weight: 900;
	font-family: 'PF Agora Sans Pro';
	src: url('../fonts/pf-agora-sans-pro/PFAgoraSansPro-UltraBlackItalic.woff') format('woff');
}

.pf-agora-sans-pro { font-family: 'PF Agora Sans Pro', Arial, sans-serif }


/* PF Agora Slab Pro */
/* font get from site https://nomail.com.ua/font/Agora */

@font-face {
	font-weight: 100;
	font-family: 'PF Agora Slab Pro';
	src: url('../fonts/pf-agora-slab-pro/PFAgoraSlabPro-ExtraThin.woff') format('woff');
}

@font-face {
	font-style: italic;
	font-weight: 100;
	font-family: 'PF Agora Slab Pro';
	src: url('../fonts/pf-agora-slab-pro/PFAgoraSlabPro-ExtraThinItalic.woff') format('woff');
}

@font-face {
	font-weight: 200;
	font-family: 'PF Agora Slab Pro';
	src: url('../fonts/pf-agora-slab-pro/PFAgoraSlabPro-Thin.woff') format('woff');
}

@font-face {
	font-style: italic;
	font-weight: 200;
	font-family: 'PF Agora Slab Pro';
	src: url('../fonts/pf-agora-slab-pro/PFAgoraSlabPro-ThinItalic.woff') format('woff');
}

@font-face {
	font-weight: 300;
	font-family: 'PF Agora Slab Pro';
	src: url('../fonts/pf-agora-slab-pro/PFAgoraSlabPro-Light.woff') format('woff');
}

@font-face {
	font-style: italic;
	font-weight: 300;
	font-family: 'PF Agora Slab Pro';
	src: url('../fonts/pf-agora-slab-pro/PFAgoraSlabPro-LightItalic.woff') format('woff');
}

@font-face {
	font-family: 'PF Agora Slab Pro';
	src: url('../fonts/pf-agora-slab-pro/PFAgoraSlabPro-Regular.woff') format('woff');
}

@font-face {
	font-style: italic;
	font-family: 'PF Agora Slab Pro';
	src: url('../fonts/pf-agora-slab-pro/PFAgoraSlabPro-Italic.woff') format('woff');
}

@font-face {
	font-weight: 500;
	font-family: 'PF Agora Slab Pro';
	src: url('../fonts/pf-agora-slab-pro/PFAgoraSlabPro-Medium.woff') format('woff');
}

@font-face {
	font-style: italic;
	font-weight: 500;
	font-family: 'PF Agora Slab Pro';
	src: url('../fonts/pf-agora-slab-pro/PFAgoraSlabPro-MediumItalic.woff') format('woff');
}

@font-face {
	font-weight: bold;
	font-family: 'PF Agora Slab Pro';
	src: url('../fonts/pf-agora-slab-pro/PFAgoraSlabPro-Bold.woff') format('woff');
}

@font-face {
	font-style: italic;
	font-weight: bold;
	font-family: 'PF Agora Slab Pro';
	src: url('../fonts/pf-agora-slab-pro/PFAgoraSlabPro-BoldItalic.woff') format('woff');
}

@font-face {
	font-weight: 800;
	font-family: 'PF Agora Slab Pro';
	src: url('../fonts/pf-agora-slab-pro/PFAgoraSlabPro-Black.woff') format('woff');
}

@font-face {
	font-style: italic;
	font-weight: 800;
	font-family: 'PF Agora Slab Pro';
	src: url('../fonts/pf-agora-slab-pro/PFAgoraSlabPro-BlackItalic.woff') format('woff');
}

@font-face {
	font-weight: 900;
	font-family: 'PF Agora Slab Pro';
	src: url('../fonts/pf-agora-slab-pro/PFAgoraSlabPro-UltraBlack.woff') format('woff');
}

@font-face {
	font-style: italic;
	font-weight: 900;
	font-family: 'PF Agora Slab Pro';
	src: url('../fonts/pf-agora-slab-pro/PFAgoraSlabPro-UltraBlackItalic.woff') format('woff');
}

.pf-agora-slab-pro { font-family: 'PF Agora Slab Pro', Arial, sans-serif }


/* PT Serif */
/* font get from site https://webfonts.pro/base-web-fonts/serif/813-pt-serif.html */

@font-face {
	font-family: 'PT Serif';
	src: url('../fonts/pt-serif/PTSerif-Regular.woff') format('woff');
}

@font-face {
	font-style: italic;
	font-family: 'PT Serif';
	src: url('../fonts/pt-serif/PTSerif-Italic.woff') format('woff');
}

@font-face {
	font-weight: bold;
	font-family: 'PT Serif';
	src: url('../fonts/pt-serif/PTSerif-Bold.woff') format('woff');
}

@font-face {
	font-weight: bold;
	font-style: italic;
	font-family: 'PT Serif';
	src: url('../fonts/pt-serif/PTSerif-BoldItalic.woff') format('woff');
}

.pt-serif { font-family: 'PT Serif', 'Times New Roman', Times, serif }


/* Rex */

/*
	font get from site https://www.fontfabric.com/rex-free-font/
	convert to woff on the site https://convertio.co/ru/otf-woff/
*/

@font-face {
	font-weight: 300;
	font-family: Rex;
	src: url('../fonts/rex/Rex-Light.woff') format('woff');
}

@font-face {
	font-weight: bold;
	font-family: Rex;
	src: url('../fonts/rex/Rex-Bold.woff') format('woff');
}

.rex { font-family: Rex, Menlo, Consolas, monospace }


/* Roboto */

/*
	font get from site https://webfonts.pro/base-web-fonts/sans-serif-grotesque/815-roboto.html
	condensed stretch get from site https://webfonts.pro/base-web-fonts/sans-serif-grotesque/816-roboto-condensed.html
*/

@font-face {
	font-weight: 100;
	font-family: Roboto;
	src: url('../fonts/roboto/Roboto-Thin.woff') format('woff');
}

@font-face {
	font-style: italic;
	font-weight: 100;
	font-family: Roboto;
	src: url('../fonts/roboto/Roboto-ThinItalic.woff') format('woff');
}

@font-face {
	font-weight: 300;
	font-family: Roboto;
	src: url('../fonts/roboto/Roboto-Light.woff') format('woff');
}

@font-face {
	font-style: italic;
	font-weight: 300;
	font-family: Roboto;
	src: url('../fonts/roboto/Roboto-LightItalic.woff') format('woff');
}

@font-face {
	font-weight: 300;
	font-stretch: condensed;
	font-family: Roboto;
	src: url('../fonts/roboto/RobotoCondensed-Light.woff') format('woff');
}

@font-face {
	font-style: italic;
	font-weight: 300;
	font-stretch: condensed;
	font-family: Roboto;
	src: url('../fonts/roboto/RobotoCondensed-LightItalic.woff') format('woff');
}

@font-face {
	font-family: Roboto;
	src: url('../fonts/roboto/Roboto-Regular.woff') format('woff');
}

@font-face {
	font-style: italic;
	font-family: Roboto;
	src: url('../fonts/roboto/Roboto-Italic.woff') format('woff');
}

@font-face {
	font-stretch: condensed;
	font-family: Roboto;
	src: url('../fonts/roboto/RobotoCondensed-Regular.woff') format('woff');
}

@font-face {
	font-style: italic;
	font-stretch: condensed;
	font-family: Roboto;
	src: url('../fonts/roboto/RobotoCondensed-Italic.woff') format('woff');
}

@font-face {
	font-weight: 500;
	font-family: Roboto;
	src: url('../fonts/roboto/Roboto-Medium.woff') format('woff');
}

@font-face {
	font-style: italic;
	font-weight: 500;
	font-family: Roboto;
	src: url('../fonts/roboto/Roboto-MediumItalic.woff') format('woff');
}

@font-face {
	font-weight: bold;
	font-family: Roboto;
	src: url('../fonts/roboto/Roboto-Bold.woff') format('woff');
}

@font-face {
	font-style: italic;
	font-weight: bold;
	font-family: Roboto;
	src: url('../fonts/roboto/Roboto-BoldItalic.woff') format('woff');
}

@font-face {
	font-weight: bold;
	font-stretch: condensed;
	font-family: Roboto;
	src: url('../fonts/roboto/RobotoCondensed-Bold.woff') format('woff');
}

@font-face {
	font-style: italic;
	font-weight: bold;
	font-stretch: condensed;
	font-family: Roboto;
	src: url('../fonts/roboto/RobotoCondensed-BoldItalic.woff') format('woff');
}

@font-face {
	font-weight: 900;
	font-family: Roboto;
	src: url('../fonts/roboto/Roboto-Black.woff') format('woff');
}

@font-face {
	font-style: italic;
	font-weight: 900;
	font-family: Roboto;
	src: url('../fonts/roboto/Roboto-BlackItalic.woff') format('woff');
}

.roboto { font-family: Roboto, Arial, sans-serif }


/* Whitney */
/* font get from site https://webfonts.pro/base-web-fonts/sans-serif-grotesque/898-whitney.html */

@font-face {
	font-weight: 200;
	font-family: Whitney;
	src: url('../fonts/whitney/Whitney-Light.woff') format('woff');
}

@font-face {
	font-style: italic;
	font-weight: 200;
	font-family: Whitney;
	src: url('../fonts/whitney/Whitney-LightItalic.woff') format('woff');
}

@font-face {
	font-family: Whitney;
	src: url('../fonts/whitney/Whitney-Book.woff') format('woff');
}

@font-face {
	font-style: italic;
	font-family: Whitney;
	src: url('../fonts/whitney/Whitney-BookItalic.woff') format('woff');
}

@font-face {
	font-weight: 500;
	font-family: Whitney;
	src: url('../fonts/whitney/Whitney-Medium.woff') format('woff');
}

@font-face {
	font-style: italic;
	font-weight: 500;
	font-family: Whitney;
	src: url('../fonts/whitney/Whitney-MediumItalic.woff') format('woff');
}

@font-face {
	font-weight: 600;
	font-family: Whitney;
	src: url('../fonts/whitney/Whitney-Semibold.woff') format('woff');
}

@font-face {
	font-style: italic;
	font-weight: 600;
	font-family: Whitney;
	src: url('../fonts/whitney/Whitney-SemiboldItalic.woff') format('woff');
}

@font-face {
	font-weight: bold;
	font-family: Whitney;
	src: url('../fonts/whitney/Whitney-Bold.woff') format('woff');
}

@font-face {
	font-style: italic;
	font-weight: bold;
	font-family: Whitney;
	src: url('../fonts/whitney/Whitney-BoldItalic.woff') format('woff');
}

@font-face {
	font-weight: 900;
	font-family: Whitney;
	src: url('../fonts/whitney/Whitney-Black.woff') format('woff');
}

@font-face {
	font-style: italic;
	font-weight: 900;
	font-family: Whitney;
	src: url('../fonts/whitney/Whitney-BlackItalic.woff') format('woff');
}

.whitney { font-family: Whitney, Arial, sans-serif }