@charset "UTF-8";

.skew--10 { transform: skew(-10deg) }
.skew--10 > * { transform: skew(10deg) }
.skew--10 > .skew--10 { transform: none }

.rotate--90 {
	text-align: right;
	transform-origin: 0 100%;
	transform: rotate(-90deg) translate(-100%);
}